.about-first-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.about-first-section-col1{
  display: flex;
  justify-content: center;
  text-align: end;
  align-items: end;
}
.about-first-section img{
  width: 200px;
  height: 274.889px;
  position: relative;
  border-radius: 100px;
  padding: 0px;
}
.about-first-section svg{
  position: absolute;
  width: 200px;
  height: 204px;
}
.about-second-section{
  height: 30vh;
}
.about-third-section{
  height: 40vh;
}
.eduhead{
  margin: 2rem 0px 1rem 0px;
  font-size: 3rem;
}
.education{
  margin: 5vh 0px;
}
.education p{
  min-width: 260px;
  height: 100%;
}
.education img{
  min-height: 90px;
  height: 90px;
  border-radius: 50px;
border: 3px solid #8D4E7E;
background:50% / cover no-repeat;
}
.edupri, .edusec{
  /* padding: 0px 10vh; */
  height: 100%;
}

.skillhead{
  font-size: 3rem;
  margin: 50% 0px;
}
.skills{
  display: block;
  height: 30vh;
  display: flex;
  justify-content: center;
  margin: 0px 0px 15vh 0px;
}
.skill1{
  background-color: #984B7C;
  color: #C2C8C4;
  height: 100%;
  padding: 5vh 0px;

}
.skill2{
  background-color: #C2C8C4;
  color: #984B7C;
  height: 100%;
  padding: 5vh 0px;
}
ul{
  display: block;
  font-size: 1.2rem;
  font-weight: bolder;
}