.about-first-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.about-first-section-col1{
  display: flex;
  justify-content: center;
  text-align: end;
  align-items: end;
}
.about-first-section img{
  width: 200px;
  height: 274.889px;
  position: relative;
  border-radius: 100px;
  padding: 0px;
  
}
.about-first-section svg{
  position: absolute;
  width: 200px;
  height: 204px;
}
.about-second-section{
  margin: 20px 0px;
  height:100vh;
  /* border-radius: 20px; */
  background-color: #26222E;
  display: flex;
  flex-wrap: wrap;
}
.educationcont{
  height: 100vh;
}
#education p{
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
}
#education img{
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 3px solid #26222E;
}