.about-first-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  transition: 0.5;
}
.about-first-section-col1{
  display: flex;
  justify-content: center;
  text-align: end;
  align-items: end;
}

.about-first-section img{
  width: 200px;
  height: 274.889px;
  position: relative;
  border-radius: 100px;
  padding: 0px;
}
.about-first-section svg{
  position: absolute;
  width: 200px;
  height: 204px;
}
#scroll{
  width: 75px;
  height: 75px;
  bottom: 5px;
}
.about-second-section{
  height: 100%;
}
.about-third-section{
  height: 100%;
}
.eduhead{
  margin: 5% 0px;
  font-size: 3rem;
}
.education{
  margin: 5vh 0px;
}
.education p{
  width: 250px;
  height: 100%;
  font-size: 1.3rem;
}
.education img{
  min-height: 90px;
  height: 90px;
  border-radius: 50px;
border: 3px solid #8D4E7E;
background:50% / cover no-repeat;
}
.edupri, .edusec{
  /* padding: 0px 10vh; */
  height: 100%;
}

.skillhead{
  font-size: 3rem;
  margin: 5% 0px;
}
.skills{
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}
.skill1{
  background-color: #984B7C;
  color: #C2C8C4;
  height: 100%;
  padding: 5vh 0px;

}
.skill2{
  background-color: #C2C8C4;
  color: #984B7C;
  height: 100%;
  padding: 5vh 0px;
}
ul{
  display: block;
  font-size: 1rem;
  font-weight: bolder;
}
.hobbiehead{
  font-size: 3rem;
  margin: 5% 0px;
}

/* small phone */
@media (min-width: 440px){

}
/* tablet */
@media (min-width: 768px){
  #scroll{
    bottom: 20px;
  }
  .about-first-section p{
    font-size: 1.5rem;
  }

}
/* laptop and PC */
@media (min-width: 992px){
  .about-first-section p{
    font-size: 2rem;
    }
    .about-first-section img{
      width: 300px;
      height: 412px;
      border-radius: 200px;
      padding: 0px;
    }
    .about-first-section svg{

      width: 300px;
      height: 308px;
    }
    .about-third-section p{
      font-size: 2rem;
    }
    .about-third-section img{
      width:180px;
      height: 180px;
      border-radius: 200px;
    }
    ul{
      font-size: 2rem;
    }
}