.contactinfo button{
  border: 2px solid #151E17;
  border-radius: 5px;
  /* margin: 10px; */
  width: 370px;
  height: 81px;
}
button{
  background: transparent;
  border: 0px;
  padding: 5px 10px 5px 5px;
}
.contactinfo a{
  margin: 10px 10px;
  color: #17171E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.contactinfo svg{
  vertical-align: middle;
  /* justify-self:end; */
  color: #17171E;
}
.maincontact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
