.contact-section{
  height: 80vh;
}
.contactinfo button{
  border: 4px solid #151E17;
  border-radius: 10px;
  margin: 10px;
  width:  350px;
  height: 81px;
  margin: 0px 0px 5px 0px;
}
button{
  background: transparent;
  border: 0px;
  padding: 5px 10px 5px 5px;
  text-align: start;
}
.contactinfo a{
  margin: 10px 10px;
  color: #17171E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.contactinfo svg{
  vertical-align: middle;
  height: 60px;
  width: 60px;
  color: #17171E;
}
.maincontact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  margin: 5px 0px 50px 0px;
}
bsize svg, a, button{
  max-width: 763px;
}
