

.contact-section{
  height: 80vh;
}
.contactinfo button{
  border: 4px solid #151E17;
  border-radius: 10px;
  margin: 10px;
  width:  350px;
  height: 81px;
  margin: 0px 0px 5px 0px;
}
button{
  background: transparent;
  border: 0px;
  padding: 5px 10px 5px 5px;
  text-align: start;
}
.contactinfo a{
  margin: 10px 10px;
  color: #17171E;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.contactinfo svg{
  vertical-align: middle;
  height: 60px;
  width: 60px;
  color: #17171E;
}

.contactinfo button:hover{
  transition: 0.5s;
  border: 6px solid #8D4E7E;
  border-radius: 30px;
  margin: 0px 0px 5px 0px;
}
.maincontact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  margin: 5px 0px 50px 0px;
}
/* small phone */
@media (min-width: 440px){

}
/* tablet */
@media (min-width: 768px){
  .contactinfo button{
    height: 150px;
    width: 370px;
  }
  .contactinfo a{
    font-size: 1.3rem;
  }
  .box{
    padding:0px 5px;
  }
}
/* laptop and PC */
@media (min-width: 992px){
  .box{
    padding:15px 15px; 
  }

}