/* header with Navigations */
.navigations{
  height: 40vh;
}
#fswb{
  font-size: 1.5rem;
  padding-bottom: 20px;
  color:  #8D4E7E;
}
.intro_p{
  margin: 0px 30px;
  padding-bottom:  20px;
}
.name{
  font-size: 3rem;
  padding-top: 30px;
}
.btn{
  background-color: #8D4E7E;
  border-radius: 5px;
  color: #C2C8C4;
}
.btn:hover{
  background-color: #6b3b60;
  color: #C2C8C4;
}
.welcome-section{
  display: flex;
  align-items: center;
  text-align: center;
  white-space: wrap;
  padding: 0px 2rem;
}
.index-photo{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}
.navigations{

}
/* small phone */
@media (max-width: 767px){
  .index-photo{
    width: 300px;
    height: 169px;
  }
  .contentindex{
    padding: 0px 0px 10vh 0px;
  }
}
/* tablet */
@media (min-width: 768px){
  .index-photo{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 282px;
  }
}
/* laptop and PC */
@media (min-width: 992px){
  .name{
    font-size: 4rem;
  }
  .contentindex{
    padding: 50px 0px;
  }
  .index-photo{
    width: 600px;
    height: 338px;
  }
}
