/* header with Navigations */
.navigations{
  height: 40vh;
}
#fswb{
  padding-bottom: 20px;
  color:  #8D4E7E;
}
.intro_p{
  margin: 0px 30px;
  padding-bottom:  20px;
}
.name{
  font-size: 2rem;
  padding-top: 30px;
}
button.btn{
  background-color: #8D4E7E;
  border-radius: 5px;
  color: #C2C8C4;
}
.welcome-section{
  display: flex;
  align-items: center;
  text-align: center;
}
.index-photo{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}
.contentindex{
 height: 60vh;
}
.navigations{

}
@media (min-width: 992px){
  .name{
    font-size: 60px;
  }
  .index-photo{
    display: flex;
    justify-content: center;
    width: 628px;
    height: 320px;
  }
 
  
}
