*{
  margin: 0px;
  /* border: 1px solid red; */
}
body{
  background: radial-gradient(50% 50% at 50% 50%, #C2C8C4 0%, #887B99 100%) no-repeat center center fixed;
  height: auto;


}
h4, h3{
  padding: 0px 0 0 0;
  margin: 0px 0px 0px 0px;
}
p {
  font-family: antonio;
}

h1,h2,h3,h4,h5,h6{
  font-family: Anton;
  color:#262033;
  font-size: 30px;
}
a{
  font-family: antonio;
}
ul{
  font-family: antonio;
}
footer{
  display: flex;
  background-color: #17171e;
  text-align: start;
  padding: 5%;
  margin-top: 10%;
}
footer p{
  font-size: 1.5rem;
  color: #887B99;
}
@media (min-width: 768px){
  footer{
   
  }
}